* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}

.main {
  display: none;
}

.button {
  display: none;
}

.color1 {
  color: rgb(255, 0, 0);
}

.color2 {
  color: rgb(1, 255, 1);
}

.start_button {
  font-size: 5rem;
  color: rgb(255, 255, 255);
  background-color: rgb(241, 8, 8);
  width: 15rem;
  margin: auto;
  text-align: center;
  margin-top: 8rem;
  border-radius: 15px;
}

.remove {
  display: none;
}

.start_button:focus {
  outline: none;
}

.start_button:hover {
  color: black;
}

.header {
  width: 100%;
  height: 20vh;
  display: inline-block;
}

.score {
  font-size: 3rem;
  float: left;
  margin-top: 2rem;
  margin-left: 1.5rem;
  display: none;
}

.button {
  background-color: rgb(31, 147, 255);
  color: white;
  float: right;
  margin-top: 1.5rem;
  margin-right: 1.5rem;
  border-radius: 10px;
  border: none;
  width: 5rem;
  height: 3rem;
  font-size: 1.4rem;
}

.button:focus {
  outline: none;
}

.button:hover {
  color: rgb(17, 44, 44);
}

.question {
  font-size: 3rem;
  text-align: center;
  color: rgb(34, 204, 147);
  margin: 2rem;
  font-weight: bold;
  letter-spacing: 3px;
}

.option {
  text-align: center;
  font-size: 2rem;
  margin: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 2px;
}

.option {
  cursor: pointer;
}
