@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  background-color: black;
  box-sizing: border-box;
  padding: 0;
}

label {
  font-size: 30px;
  color: white;
}

li {
  font-size: 20px;
  color: white;
}

button {
  font-size: 25px;
  background-color: rgb(74, 158, 158);
  border: none;
  border-radius: 5px;
}
